carimagery/carimagery/Connected Services/CarImagery/api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://carimagery.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://carimagery.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://carimagery.com/">
      <s:element name="GetImageUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchTerm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetImageUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageUrl" />
  </wsdl:message>
  <wsdl:message name="GetImageUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageUrlHttpGetIn">
    <wsdl:part name="searchTerm" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetImageUrlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetImageUrlHttpPostIn">
    <wsdl:part name="searchTerm" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetImageUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="apiSoap">
    <wsdl:operation name="GetImageUrl">
      <wsdl:input message="tns:GetImageUrlSoapIn" />
      <wsdl:output message="tns:GetImageUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="apiHttpGet">
    <wsdl:operation name="GetImageUrl">
      <wsdl:input message="tns:GetImageUrlHttpGetIn" />
      <wsdl:output message="tns:GetImageUrlHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="apiHttpPost">
    <wsdl:operation name="GetImageUrl">
      <wsdl:input message="tns:GetImageUrlHttpPostIn" />
      <wsdl:output message="tns:GetImageUrlHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="apiSoap" type="tns:apiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImageUrl">
      <soap:operation soapAction="http://carimagery.com/GetImageUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="apiSoap12" type="tns:apiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImageUrl">
      <soap12:operation soapAction="http://carimagery.com/GetImageUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="apiHttpGet" type="tns:apiHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetImageUrl">
      <http:operation location="/GetImageUrl" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="apiHttpPost" type="tns:apiHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetImageUrl">
      <http:operation location="/GetImageUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="api">
    <wsdl:port name="apiSoap" binding="tns:apiSoap">
      <soap:address location="http://www.carimagery.com/api.asmx" />
    </wsdl:port>
    <wsdl:port name="apiSoap12" binding="tns:apiSoap12">
      <soap12:address location="http://www.carimagery.com/api.asmx" />
    </wsdl:port>
    <wsdl:port name="apiHttpGet" binding="tns:apiHttpGet">
      <http:address location="http://www.carimagery.com/api.asmx" />
    </wsdl:port>
    <wsdl:port name="apiHttpPost" binding="tns:apiHttpPost">
      <http:address location="http://www.carimagery.com/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>