GettingStarted/LibraryClient/Connected Services/ServiceReference2/UsersServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UsersServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsersServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfLibrarin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Librarin" nillable="true" type="tns:Librarin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibrarin" nillable="true" type="tns:ArrayOfLibrarin" />
  <xs:complexType name="Librarin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Librarin" nillable="true" type="tns:Librarin" />
  <xs:complexType name="ArrayOfAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Admin" nillable="true" type="tns:Admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmin" nillable="true" type="tns:ArrayOfAdmin" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
</xs:schema>